<!DOCTYPE html>
<html>
<head>
</head>

<body>    
  <!-- render :partial => "page_fileio", 
             :locals  => { :filebuf_html => @filebuf
                         }
  -->
  <%= render :partial => "page_fileio"
  %>

</body>

</html>
