@import "compass";

.dir_list {
    font-family:   Consolas, 'Courier New', Courier, Monaco, monospace;
    margin-bottom: 1ex;
    margin-left:   -2ex;
}

.dir_list ul {
    margin-left:     -50px;
}

.dir_list li {
    list-style-type: none;
    margin-left:     3ex;
}
div.relative {
    position: relative;
    margin-left: -30px;
}
div.absolute{
    position: absolute;
    height: 30px;
    top: 40%;
    left: 30px;
    width: 100%;
    margin: -0.5em;
}