<p>
	<%= current_dir %>
</p>

<ul class="dir_list">
<% list_data.each do |data| %>
  <li>
      <% if !data[:md_path].empty? then %>
        <%= link_to data[:name], 
            myoso_wiki_mw_fileio_path(:filename     => data[:md_path],
                                      :ajax_request => true
                                     ), 
            :remote => true
        %>
      <% else %>
        <%= data[:name] %>
      <% end %>
  <% if data[:folder] == MWIKI_Contant::FOLDER_START %>
      <ul>
  <% end %>
  <% if data[:folder] == MWIKI_Contant::FOLDER_END %>
      </ul>
  <% end %>  
  </li>
<% end %>
</ul>